/* html,bodyÉ^ÉOÇÃê›íË */
html, body {
	margin: 0; /* ó]îíÇ»Çµ */
	padding: 0; /* ó]îíÇ»Çµ */
	width: 100%;
	height: 100%;
	font:"ÉÅÉCÉäÉI","Meiryo","ÇlÇr ÇoÉSÉVÉbÉN","Hiragino Kaku Gothic Pro","ÉqÉâÉMÉmäpÉS Pro W3",sans-serif;
	font-size: 14px;
	color: #a0a0a0;
}

body {
	background-color: #001A43;
	background-image: url("../images/KsLogic_Bg.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-text-size-adjust: 100%;
}

div#header-fixed {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
/*	border: 1px solid yellow;*/
}

div#header-bk {
	padding: 5px 0 10px;
	height: 50px;
	width: 100%;
/*	border: 1px solid pink;*/
}

div#header {
	height: 100%;
	width: 960px;
	margin: auto;
/*	border: 1px solid white;*/
}
a#title {
	color: #a0a0a0;
	text-decoration: none;
}
a#title:hover {
	color: white;
	/*text-decoration: underline;*/
}
.title {
    font-size: 40px;
    font-family: 'Teko', sans-serif;
}

div#myname {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
div#occupation {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
/*    color: #778899;*/
    color: #AFEEEE;
}
div#body-bk {
	padding: 80px 10px 0; 
}

div#body {
	width: 960px;
	margin: auto;
}

div#footer-fixed {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
}

div#footer-bk {
	height: 28px;
	width: 100%;
}
div#footer {
	height: 100%;
	width: 960px;
	margin: auto;
	text-align: center;
	font-size: 8pt;
	color: #a0a0a0;
}

/* ÉEÉBÉìÉhÉEïùÇ™0Å`479pxÇÃèÍçáÇ…ìKópÇ∑ÇÈCSS */
@media screen and ( max-width:479px )
{
	p
	{
		font-size: 16px ;	/* 16px */
		line-height: 1.5em;
	}
	.history {
		display: none;
	}
	div#header {
		width: 100%;
		height: 100%;
		margin: auto;
	}
	div#body {
		width: 100%;
		margin: auto;
	}
	div#footer {
		height: 100%;
		margin: auto;
		text-align: left;
		font-size: 8pt;
		color: #a0a0a0;
	}
	.title {
	    color: #AFEEEE;
	}
	div#myname {
	    font-size: 40px;
	}
	div#occupation {
	    font-size: 20px;
	}
}